.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.color-picker {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
}

.color-picker .copy-btn {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 50%;
    border: none;
}

.color-picker .copy-btn:active {
    background-color: #b7b7b7;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

label {
    margin-bottom: 1rem;
}

.input-container input {
    
}
